.Die{
    background-color: slateblue;
    color : white;
    border-radius: 0.5rem;
    display : inline-block;
    width : 3rem;
    height : 2.5rem;
    padding-top : 0.75rem;
    text-align: center;
    margin-right: 0.5rem;
    font-weight: bold;
    font-size : 1.5rem;
}